#maindiv {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
}
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    
    #navbar-example {
	top: 200px;
	width: 800px;
	position: absolute;
	z-index: 1;
}
#header {
	height: 240px;
}
#authentation {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#qingfenurl {
	position: absolute;
	z-index: 1;
	left: 450px;
	top: 700px;
}
#taoliurl {
	position: absolute;
	z-index: 1;
	left: 250px;
	top: 350px;
}
#zijingurl {
	position: absolute;
	z-index: 1;
	left: 450px;
	top: 275px;
}
#tingtaourl {
	position: absolute;
	z-index: 1;
	left: 350px;
	top: 550px;
}
.innerdiv {
	margin: 50px;
	font-size: 20px;
}
.innerdiv1 {
	margin: 15px;
	font-size: 18px;
}
