#maindiv {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
}
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }