#updiv {
	position: absolute;
	background-color: #66CCFF;
	width: 200px;
	height: 300px;
}
#downdiv {
	position: absolute;
	background-color: #48FF00;
	width: 200px;
	height: 300px;
}
#leftdiv {
	position: absolute;
	background-color: #D200FF;
	width: 300px;
	height: 200px;
}
#rightdiv {
	position: absolute;
	background-color: #FF9000;
	width: 300px;
	height: 200px;
}