#updiv {
	background-color: #66CCFF;
	bottom: 450px;
	left: 500px;
	width: 200px;
	height: 300px;
	position: absolute;
	margin: 3px;
	display: none;
}
#downdiv {
	background-color: #CC66FF;
	top: 450px;
	right: 500px;
	width: 200px;
	height: 300px;
	position: absolute;
	margin: 3px;
	display: none;
}

#leftdiv {
	background-color: #FFCC66;
	right: 500px;
	bottom: 450px;
	width: 300px;
	height: 200px;
	position: absolute;
	margin: 3px;
	display: none;
}

#rightdiv {
	background-color: #CCFF66;
	left: 500px;
	top: 450px;
	width: 300px;
	height: 200px;
	position: absolute;
	margin: 3px;
	display: none;
}

#maindiv {
	position: relative;
	width: 800px;
	height:800px;
	margin:0 auto;
}

#middiv {
	position: absolute;
	margin: -50px 0 0 -100px;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
}

